# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Pods/
macos/Flutter/Flutter.framework/

# Miscellaneous
*.log
*.pyc
*.class
.DS_Store
*.pem
coverage/

# Environment
.env
.env.*
!.env.example
